.task-content{
	font-family:sans-serif;
	border:solid 2px grey;
	padding:12px;
}

.task-content h1{
	font-size:300%;
	text-align:center;
}

.task-content h2{
	font-size:150%;
	text-align:center;
	padding:12px;
}

.task-content h3{
	font-size:150%;
	text-align:center;
	padding:12px;
}

.task-content form{
	border-color:#ff751a;
}

.task-content form .task{
	box-sizing:border-box;
	display:block;
}

.task-content .task .left-col{
	box-sizing:border-box;
	display:inline-block;
	width:18%;
}

.task-content .task .right-col{
	box-sizing:border-box;
	display:inline-block;
	width:80%;
}

.task-content .task .right-col .param{
	display:block;
}

.task-content .task .right-col .param span{
	width:33.3%;
}

.task-content .task .right-col .descript{
	display:block;
}

.task-content form input[type="submit"]{
	clear:both;
	display:block;
	margin:1em auto;
	height:2em;
	width:6em;
	font-size:150%;
	color:white;
	background-color:blue;
	border:2px solid blue;
	border-radius:3px;
	transition:color 0.5s, background-color 0.5s; 
}

.task-content form input[type="submit"]:hover{
	color:blue;
	background-color:white;
}  

.high{
	background-color:#ffcccc;
}

.medium{
	background-color:#ffffcc;
}

.low{
	background-color:white;
}

.old{
	background-color:#e6e6e6;
}

#page-nav{
	display:block;
	margin:2em auto;
	overflow:hidden;
}

.task-content a.page-btn {
	float:left;
	color:white;
	background-color:#ccccff;
	font-size:200%;
	padding:0.3em 0.5em;
	text-decoration:none;
	border:2px solid #ccccff;
}

.task-content a.page-btn:hover {
	float:left;
	color:#0000ff;
	background-color:white;
	font-size:200%;
	padding:0.3em 0.5em;
	text-decoration:none;
	border:2px solid #0000ff;
}

.task-content a.index{
	color:white;
	background-color:#0000ff;
	border:2px solid #0000ff;
}

.task-content a.radius-left{
	border-top-left-radius:4px;
	border-bottom-left-radius:4px;
}	

.task-content a.radius-right{
	border-top-right-radius:4px;
	border-bottom-right-radius:4px;
}	

.task-content .cursor-default{
	cursor:pointer;
}

.tabs{
	margin-top:1em;
	display:block;
	padding:0.5em 0em;
}

.tabs a{
	display:inline;
	border-top:2px solid #ff751a;
	border-left:2px solid #ff751a;
	border-right:2px solid #ff751a;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	color:#ff751a;
	padding:0.5em;
	text-decoration:none;
}

.tabs a.selected{
	background-color:#ff751a;
	color:white;
}

.task-popup{
	position:fixed;
}

/* Style the links inside the sidenav */
#mySidenav a {
    position: absolute; /* Position them relative to the browser window */
    right: -5em; /* Position them outside of the screen */
    transition: 0.3s; /* Add transition on hover */
    padding: 15px; /* 15px padding */
    width: 6em; /* Set a specific width */
    text-decoration: none; /* Remove underline */
     font-size: 20px; /* Increase font size */
    color: white; /* White text color */
    border-radius: 5px 0 0 5px; /* Rounded corners on the top right and bottom right side */
}

#mySidenav a:hover {
    right: 0; /* On mouse-over, make the elements appear as they should */
}

/* The about link: 20px from the top with a green background */
#about {
    top: 20px;
     background-color: #4CAF50;
}

#blog {
    top: 80px;
     background-color: #2196F3; /* Blue */
}

#projects {
    top: 140px;
     background-color: #f44336; /* Red */
}

#contact {
    top: 200px;
     background-color: #555 /* Light Black */
}

a.add-task {
    transition: 0.3s; /* Add transition on hover */
    padding: 15px; /* 15px padding */
    width: 6em; /* Set a specific width */
    text-decoration: none; /* Remove underline */
    color: white; /* White text color */
    border-radius: 5px 0 0 5px; /* Rounded corners on the top right and bottom right side */
	background-color: #4CAF50;
}

a.add-task:hover {
	background-color:#3e8e41;
}

